*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.weather-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.weather-info #weather-input {
    width: 30%;
    font-size: large;
}

#btn-weather {
    font-size: large;
}

.img-container {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;
    height: 40vh;
}

.img-container img {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
}

#weather-over { 
    position: absolute;
    display: flex;
    align-items:last baseline;
    justify-content: center;
    padding-bottom: 2rem;
    font-weight: 700;
    font-size: 3rem;
    color: white;
    text-align: center;
    inset: 0;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 1.2rem;
    overflow: hidden;
    border: 2px solid currentColor;
}
th, td {
    padding: 10px;
    text-align: center ;
    border: 2px solid currentColor;
}

.day-theme { 
    background-color: white;
    color: black;
}

.day-theme table, .day-theme th, .day-theme td {
    background-color: white;
    color: black;
    border-color: black;
}

.nigth-theme {
    background-color: #1e1e1e;
    color: white;
    
}

.nigth-theme table, .nigth-theme th, .nigth-theme td {
    background-color: #1e1e1e;
    color: white;
    border-color: white;
}

.nigth-theme #weather-input, .nigth-theme #btn-weather {
    background-color: #1e1e1e;
    color: white;
    border-color: white;
}